version: "3.9"

services:
  nextjs-app:
    build: .
    container_name: nextjs_app
    restart: always
    ports:
      - "3001:3001"
    environment:
      - NEXT_PUBLIC_API_URL=https://pharmintechbackend.webiknows.in
