@import "tailwindcss";

@theme {
  --color-primary-50:  #F4EEF8;
  --color-primary-100: #E6D9F0;
  --color-primary-200: #CFB3E0;
  --color-primary-300: #B68ACC;
  --color-primary-400: #9A5FB5;
  --color-primary-500: #7A3D9A;
  --color-primary-600: #4B226E;
  --color-primary-700: #3E1C5C;
  --color-primary-800: #31164A;
  --color-primary-900: #220F34;

  --color-secondary-50:  #FFF4E8;
  --color-secondary-100: #FFE6CC;
  --color-secondary-200: #FFD1A3;
  --color-secondary-300: #FFB870;
  --color-secondary-400: #F9A24F;
  --color-secondary-500: #F59F4A;
  --color-secondary-600: #E38A34;
  --color-secondary-700: #C47222;
  --color-secondary-800: #9E5A18;
  --color-secondary-900: #6F3E0E;
}


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-up {
  opacity: 0;
  animation: fadeSlideUp 0.6s ease-out forwards;
}

