.auth-layout {
    height: 100vh;
    padding: 0.5rem;

    .logo {
      align-self: self-start;
      margin-top: 1rem;
    }
  
    .auth-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .auth-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px;
      border-radius: 14px;
      // background: linear-gradient(45deg, #003323 0%, #11231D 100%);
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 70%;
    margin-inline: auto;

    img {
      max-width: 100%;
    }
  }

  .sign-in-form {
    max-width: 500px;
    width: 500px;
    margin: auto;
  
    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
  
      .forgot-password {
        color: #3b82f6;
      }
    }
  }